@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&family=Kdam+Thmor+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Serif', serif;
}
body {
  height: 100vh;
}

main {
  display: flex;
}

img {
  height: 50px;
  padding: 5px;
  /* width: 100%; */
}

textarea {
  z-index: 0;
  width: 100%;
}

#textarea {
  outline: none;
  border: 1px solid rgb(50, 167, 145);
  border-radius: 5px;
}
input:focus,
#house:focus {
  outline: none;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  margin-right: 5px;
  align-items: center;
}

#btn-login {
  background-color: rgb(50, 62, 167);
  color: #fff;
  cursor: pointer;
}

#sec-btn-radio {
  display: flex;
  flex-direction: column;
}

#counter {
  position: absolute;
  z-index: 1;
  top: 85%;
  right: 5%;
}

#div-counter {
  position: relative;
  width: 100%;
}

#form-data {
  display: none;
  width: 675px;
  height: 675px;
}

#btn-login:active {
  background-color: rgba(50, 62, 167, 0.747);
}

input::placeholder,
#submit-btn,
#house,
#textarea {
  font-family: 'IBM Plex Serif', serif;
}

#textarea {
  margin-top: 5px;
  padding-left: 5px;
}

#form-data {
  width: 100%;
  /* text-align: center; */
  margin-left: 10px;
  line-height: 2rem;
  letter-spacing: 0.15rem;
}
#form-data p {
  text-align: justify;
}

@media screen and (max-width: 400px) {
  .header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding: 5px;
  }
  .header-title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .trybewarts-header-logo {
    height: 60px;
  }
  .trybewarts-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
    padding: 10px;
  }

  #email,
  #password,
  #btn-login {
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
  }

  #btn-login {
    letter-spacing: 2px;
  }

  #email::placeholder,
  #password::placeholder {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .form-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .image {
    text-align: center;
  }
  #trybewarts-forms-logo {
    height: 100px;
    margin-top: 5px;
  }
  #evaluation-form {
    color: rgb(70, 70, 70);
  }
  #evaluation-form input {
    padding: 4px;
  }
  .input-nome,
  .input-email {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10%;
  }
  #house {
    padding: 5px;
  }
  .input-email {
    margin-top: 5px;
  }
  .input-family,
  .input-materia,
  .input-rate,
  .container-textarea,
  .input-agreement {
    text-align: justify;
    margin: 0 10%;
    margin-top: 5px;
  }
  #div-counter {
    width: 100%;
  }
  .footer {
    text-align: center;
    width: 100%;
    background-color: rgb(50, 167, 145);
    color: #fff;
    padding: 1rem;
  }
  #submit-btn {
    background-color: rgb(50, 62, 167);
    color: #fff;
    padding: 5px;
    margin: 10px 26%;
    border: none;
    border-radius: 5px;
  }

  #submit-btn:disabled {
    background-color: rgb(170, 170, 170);
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding: 5px;
  }
  .header-title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .trybewarts-header-logo {
    height: 60px;
  }
  .trybewarts-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
    padding: 10px;
  }

  #email,
  #password,
  #btn-login {
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
  }

  #btn-login {
    letter-spacing: 2px;
  }

  #email::placeholder,
  #password::placeholder {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .form-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .image {
    text-align: center;
  }
  #trybewarts-forms-logo {
    height: 100px;
    margin-top: 5px;
  }
  #evaluation-form {
    color: rgb(70, 70, 70);
  }
  #evaluation-form input {
    padding: 4px;
  }
  .input-nome,
  .input-email {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10%;
  }
  #house {
    padding: 5px;
  }
  .input-email {
    margin-top: 5px;
  }
  .input-family,
  .input-materia,
  .input-rate,
  .container-textarea,
  .input-agreement {
    text-align: justify;
    margin: 0 10%;
    margin-top: 5px;
  }
  #div-counter {
    width: 100%;
  }
  .footer {
    text-align: center;
    width: 100%;
    background-color: rgb(50, 167, 145);
    color: #fff;
    padding: 1rem;
  }
  #submit-btn {
    background-color: rgb(50, 62, 167);
    color: #fff;
    padding: 5px;
    margin: 10px 26%;
    border: none;
    border-radius: 5px;
  }

  #submit-btn:disabled {
    background-color: rgb(170, 170, 170);
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  input::placeholder,
  #submit-btn,
  #house {
    font-family: 'IBM Plex Serif', serif;
  }
}

@media screen and (min-width: 801px) {
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding: 5px;
  }

  .header-title {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  .trybewarts-header-logo {
    height: 60px;
  }

  .trybewarts-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    gap: 0.5rem;
    padding: 10px;
  }

  #email,
  #password,
  #btn-login {
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
  }

  #btn-login {
    letter-spacing: 2px;
  }

  #email::placeholder,
  #password::placeholder {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .form-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }

  .image {
    text-align: center;
    width: 40%;
  }

  #trybewarts-forms-logo {
    height: 90%;
    margin-top: 5px;
    width: 80%;
  }

  #evaluation-form {
    color: rgb(70, 70, 70);
    width: 60%;
  }

  #evaluation-form input {
    padding: 4px;
  }

  .input-nome,
  .input-email {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 15%;
  }

  #house {
    padding: 5px;
  }

  .input-email {
    margin-top: 5px;
  }

  .input-family,
  .input-materia,
  .input-rate,
  .container-textarea,
  .input-agreement {
    text-align: justify;
    margin: 0 15%;
    margin-top: 5px;
  }

  #div-counter {
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100;
  }

  .footer {
    text-align: center;
    background-color: rgb(50, 167, 145);
    color: #fff;
    padding: 1rem;
    margin-top: auto;
  }

  #submit-btn {
    background-color: rgb(50, 62, 167);
    color: #fff;
    padding: 5px;
    margin: 10px 26%;
    border: none;
    border-radius: 5px;
  }

  #submit-btn:disabled {
    background-color: rgb(170, 170, 170);
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  input::placeholder,
  #submit-btn,
  #house {
    font-family: 'IBM Plex Serif', serif;
  }
}
