* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee;
}

button {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  height: 25px;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 800px) 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}
.header {
  grid-column: 2/4;
  grid-row: 1/2;
}

.header, .footer {
  background-color: #2c8ad7;
  color: #eee;
  padding: 10px 0 10px 20px;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#funcionamento {
  font-style: italic;
}

.to-do-container {
  grid-column: 1/3;
  grid-row: 2/5;
  background-color: #2c8ad7;
  min-height: 100px;
  padding: 10px;
  margin-top: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#texto-tarefa {
  height: 25px;
  border-radius: 5px;
  border: 1px solid #555;
  padding-left: 3px;
  outline: none;
}

#criar-tarefa {
  background-color: #eee;
  color: #2c8ad7;
} 

#apaga-tudo {
  background-color: #d11e1e;
  color: #eee;
}

#remover-finalizados {
  background-color: #c52ca6;
  color: #eee;
}

#mover-cima, #mover-baixo {
  background-color: #7222ac;
  color: #eee;
}

#remover-selecionado {
  background-color: #bd8c24;
  color: #eee;
}
#salvar-tarefas {
  background-color: #1eb443;
  color: #eee;
}

#lista-tarefas {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-top: 10px;
}
.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: #eee;
}

.footer {
  grid-row: 5 / 6;
  grid-column: 1/4;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}

.btn-container {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  justify-content: center;
}
