* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #2cd72c;
}
header {
  margin-top: 30px;
  margin-left: 20px;
}

button {
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  height: 25px;
  color: #fff;
  margin-left: 10px;
}

input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid blue;
  padding-left: 3px;
  
}

#funcionamento {
  font-style: italic;
}

.to-do-container {
  background-color: white;
  width: 70%;
  border-radius: 10px;
  margin: 20px 0 0 10px;
  padding: 10px;
}
#criar-tarefa {
  background-color: #0000ff;
} 

#apaga-tudo {
  background-color: #ff0000;
}

#remover-finalizados {
  background-color: #ff15d0;
}

#mover-cima, #mover-baixo {
  background-color: indigo;
}
#mover-baixo {
  margin-left: 0;
}

#remover-selecionado {
  background-color: #ff8000;
}
#salvar-tarefas {
  background-color: #342244;
}

#lista-tarefas {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-top: 10px;
}
.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: gray;
}
