@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
}

body {
  color: #f1f1f179;
  font-family: 'Press Start 2P', cursive;
  background-image: url(imgs/966314.jpg);
  /* background: #0f0c29; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
#title,
#color-palette {
  text-align: center;
  margin-top: 10px;
}
.color {
  margin-left: 5px;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.button {
  position: fixed;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
#board-size {
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
  border: none;
}
#generate-board {
  border: none;
  color: springgreen;
  padding: 8px 8px;
  font-family: 'Press Start 2P', cursive;
}
#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}
.pixel {
  display: flex;
  background-color: white;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
#clear-board {
  padding: 8px 8px;
  border: none;
  background-color: white;
  color: sienna;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}
